@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');


body {
    background-color: #2b2a33;
    color: #05b1cb;
}

.container {
    background-color: #42414d;
    width: 200px;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;

}

.account {
    display: flex;
    gap: 10px;
}

.user-picture {
    top: 0.7vh;
    position: relative;
    right: -5px;
}

#username {
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    color: #c5cbdc;
    font-size: 22px;
    top: -3vh;
    position: relative;
    cursor: pointer;
    right: -5px;
}


.dashboard-text {
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    color: #c5cbdc;
    font-size: 22px;
    top: -6vh;
    position: relative;
    cursor: pointer;
    right: -5px;
}
.dashboard {
    display: flex;
    gap: 10px;
}

.dashboard-picture {
    top: -2.3vh;
    position: relative;
    right: -5px;
}


.files-text {
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    color: #c5cbdc;
    font-size: 22px;
    top: -7vh;
    position: relative;
    cursor: pointer;
    right: -5px;
}
.my-files {
    display: flex;
    gap: 10px;
}

.files-picture {
    top: -3.3vh;
    position: relative;
    right: -5px;
}

.upload-text {
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    color: #c5cbdc;
    font-size: 22px;
    top: -7vh;
    position: relative;
    cursor: pointer;
    right: -5px;
}
.upload {
    display: flex;
    gap: 10px;
}

.upload-picture {
    top: -3.3vh;
    position: relative;
    right: -5px;
}